<!DOCTYPE html>
<html lang="en"> 
  <head> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <title> R.S.K. </title>
  </head>
  <body>
    <!-- <div id="border"> -->
    <div id="home-image">
      <div id="caption"><h1> Rhosneigr Swim Kloob</h1></div>
    </div>
    <div id="main-content">
      <div> 
      <p>Some content</p>
      </div>
      <div id='main-text'>
      <p> The AGM takes place in Hafod Wen conservatory and votes are decided by a show of hands </p>
      </div>
    </div>
  </body>
</html>
