<!DOCTYPE html>
<html lang="en"> 
  <head> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title> R.S.K. </title>
  </head>
  <body>
    <!-- <div id="border"> -->
    <div id="home-image">
      <img id="logo" src="{{ url_for('static', filename='logo.png') }}">
      <div id="caption"><h1> Rhosneigr Swim Kloob</h1></div>
    </div>
    <div id="main-content">
      <div> 
      <p>Some content</p>
      </div>
      <div id='main-text'>
      <p> Welcome fellow swim kloob members </p>
      </div>
    </div>
  </body>
</html>
